{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block styles %}
  <!-- Custom CSS here: (sign-in.css breaks the display of the login page.) -->
  {% load static from staticfiles %}
  <link rel="stylesheet" href="{% static 'pages/sign-in.css' %}">
  <link rel="stylesheet" href="{% static 'pages/img.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid full">
    <div class="row align-items-center h-100 login-margins">
        <div class="col-sm-4 mx-auto bg-dark rounded text-center w-100 p-3 text-light">
          <h1>{% trans "Sign Up" %}</h1>

          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>
        </div>
    </div>
</div>

{% endblock %}
